# API production variables (Railway)
ASPNETCORE_ENVIRONMENT=Production
Database__ApplyMigrationsOnStartup=true
ConnectionStrings__DefaultConnection=Host=${{Postgres.PGHOST}};Port=${{Postgres.PGPORT}};Database=${{Postgres.PGDATABASE}};Username=${{Postgres.PGUSER}};Password=${{Postgres.PGPASSWORD}};SSL Mode=Require;Trust Server Certificate=true
Redis__ConnectionString=${{Redis.REDISHOST}}:${{Redis.REDISPORT}},password=${{Redis.REDISPASSWORD}},user=${{Redis.REDISUSER}},abortConnect=false
Email__BrevoApiKey=...
Email__SenderEmail=t82704366@gmail.com
Email__SenderName=Elegance Studio
Jwt__Issuer=EleganceStudio.API
Jwt__Audience=EleganceStudio.Client
Jwt__SecretKey=change-me-use-at-least-32-random-characters
PublicLinks__ConfirmBookingBaseUrl=https://elegasce-studio-projeto.vercel.app/confirmar
PublicLinks__DashboardBookingBaseUrl=https://elegasce-studio-projeto-qmhi.vercel.app/dashboard
PublicLinks__BarberActionBaseUrl=https://elegascestudioprojeto-production.up.railway.app/api/bookings/barber-action
Cors__AllowedOrigins__0=https://elegasce-studio-projeto.vercel.app
Cors__AllowedOrigins__1=https://elegasce-studio-projeto-qmhi.vercel.app
Seed__Users__0__Username=admin
Seed__Users__0__Password=change-me-long-admin-password
Seed__Users__0__Role=Admin
Seed__Users__1__Username=edi
Seed__Users__1__Password=change-me-long-edi-password
Seed__Users__1__Role=Barber
Seed__Users__1__BarberId=a1a1a1a1-0000-0000-0000-000000000001
Seed__Users__2__Username=tomas
Seed__Users__2__Password=change-me-long-tomas-password
Seed__Users__2__Role=Barber
Seed__Users__2__BarberId=a1a1a1a1-0000-0000-0000-000000000002
Seed__Users__3__Username=abreu
Seed__Users__3__Password=change-me-long-abreu-password
Seed__Users__3__Role=Barber
Seed__Users__3__BarberId=a1a1a1a1-0000-0000-0000-000000000003
Seed__Barbers__0__Id=a1a1a1a1-0000-0000-0000-000000000001
Seed__Barbers__0__Email=email-do-edi@exemplo.pt
Seed__Barbers__1__Id=a1a1a1a1-0000-0000-0000-000000000002
Seed__Barbers__1__Email=email-do-tomas@exemplo.pt
Seed__Barbers__2__Id=a1a1a1a1-0000-0000-0000-000000000003
Seed__Barbers__2__Email=email-do-abreu@exemplo.pt

# Vercel variables for both Next.js projects
NEXT_PUBLIC_API_URL=https://elegascestudioprojeto-production.up.railway.app
